body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
  /*background-image: linear-gradient(#FFFFCC, #FFCCE5); */ }

.heading {
  font-size: 40px;
  font-weight: 300;
  padding: 20px;
  color: #402B2B; }

/* HEADER START */
.navbar_row {
  text-align: right; }

.navbar {
  background-color: #FFD6D6;
  padding: 0px; }

.navbar-brand {
  margin: 0px;
  padding: 0px;
  padding-left: 5px; }

li a:hover {
  font-size: 1.1em; }

.navbar a {
  color: #000; }

/* HEADER END */
/* BODY START */
.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.alert {
  border-top: 50px;
  border-radius: 0px;
  padding: 0px;
  border: 0px; }

.jumbotron {
  background-image: linear-gradient(#FFCCFF, #99ffcc);
  background-image: url("../images/gradient1.png");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center; }

.jumbotron a:hover, .jumbotron a:active {
  background-color: #ccffcc;
  color: #000;
  border: 1px solid #99FF33;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.jumbotron .main_button {
  background-color: #99FF33;
  color: #000;
  border: 1px solid #449741;
  position: sticky;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer; }

.course_icon {
  position: relative; }

.courses {
  margin-bottom: 20px; }

.courses_row {
  margin-top: 5px; }

.card {
  background-color: initial;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: none;
  height: 300px;
  opacity: 0;
  transform: translate(0, 20vh);
  transition: all 1s; }

.card.visible {
  opacity: 1;
  transform: translate(0, 0); }

.card-title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 25px; }

.card-text {
  padding: 5px; }

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card1 {
  background-image: linear-gradient(to bottom, #fdffb6, #fff0b7, #ffe4c0, #ffdbcc, #ffd6d6); }

.card2 {
  background-image: linear-gradient(to bottom, #ffd6d6, #fed4e0, #f9d4eb, #eed6f6, #ded9ff); }

.card3 {
  background-image: linear-gradient(to bottom, #ded9ff, #cce0ff, #b7e8ff, #a5f0ff, #9bf6ff); }

.card4 {
  background-image: linear-gradient(to bottom, #9bf6ff, #a2fdee, #b9ffd8, #d9ffc4, #fdffb6); }

/* BODY END */
/* ANIMATED TEXT START */
.ml11 {
  color: #334030;
  font-weight: 700;
  font-size: 3.5em;
  background-color: none;
  font-family: 'Architects Daughter', cursive; }

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em; }

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 90%;
  width: 1px;
  background-color: none;
  transform-origin: 0 50%; }

.ml11 .line1 {
  top: 0;
  left: 0; }

.ml11 .letter {
  display: inline-block;
  line-height: 1em; }

@media (max-width: 768px) {
  .ml11 {
    font-weight: 500;
    font-size: 2em; }

  .jumbotron {
    min-height: 500px;
    background-image: url("../images/gradient2.png"); } }
/* ANIMATED TEXT END */
/* FOOTER START */
.foot_text {
  padding: 20px; }

/* FOOTER END */
/* FORM START */
.form-group {
  margin-right: auto;
  margin-left: auto;
  width: 50%; }

/* FORM END */
/* FORM START */
.form-popup {
  display: none;
  position: relative;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15); }

.form-container {
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-radius: 8px; }

.form-container label {
  float: left;
  clear: left; }

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=tel] {
  border: none;
  border-bottom: 1px solid #000;
  float: right;
  clear: right;
  max-width: 100px; }

.form-container small {
  clear: both; }

.form-container input[type=text]:focus,
.form-container input[type=email]:focus,
.form-container input[type=tel]:focus {
  outline: none; }

.form-container .main_button:focus {
  outline: none;
  opacity: 1; }

.form-group {
  margin: 0px; }

/* FORM END */
/*FORM MODAL START*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; }

.close {
  color: #000;
  float: right;
  font-size: 28px; }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* FORM MODAL END*/
/* GALLERY START */
@media (max-width: 768px) {
  .modal-content {
    width: 95%; } }
.carousel {
  padding: 10px;
  perspective: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carousel > * {
    flex: 0 0 auto; }
  .carousel figure {
    margin: 0;
    width: 800px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% -482.8427124746px; }
    .carousel figure img {
      width: 100%;
      box-sizing: border-box;
      padding: 0 210px;
      opacity: 0.9; }
      .carousel figure img:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 50% 50% -482.8427124746px; }
      .carousel figure img:nth-child(2) {
        transform: rotateY(0.7853981634rad); }
      .carousel figure img:nth-child(3) {
        transform: rotateY(1.5707963268rad); }
      .carousel figure img:nth-child(4) {
        transform: rotateY(2.3561944902rad); }
      .carousel figure img:nth-child(5) {
        transform: rotateY(3.1415926536rad); }
      .carousel figure img:nth-child(6) {
        transform: rotateY(3.926990817rad); }
      .carousel figure img:nth-child(7) {
        transform: rotateY(4.7123889804rad); }
      .carousel figure img:nth-child(8) {
        transform: rotateY(5.4977871438rad); }
  .carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0; }
    .carousel nav button {
      flex: 0 0 auto;
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      padding: 5px 10px;
      background-color: #cdfbff;
      color: #333;
      transition: 0.2s;
      border: none;
      border-radius: 25px; }
    .carousel nav button:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
      background-image: linear-gradient(to right top, #cdfbff, #cefdf8, #d2fff0, #d9ffe7, #e4ffdf);
      color: #805757;
      transition: 0.2s; }
    .carousel nav button:active {
      border: none;
      outline: none; }

/* GALLERY END */
/* TESTIMONIALS START */
/* Slideshow container */
.slideshow-container {
  float: right;
  clear: both;
  width: 40%;
  position: relative;
  background-image: linear-gradient(to left top, #9bf6ff, #a4f1ff, #b1ebff, #bfe6ff, #cce0ff, #d5e1ff, #dee1ff, #e6e2ff, #ece9ff, #f3f0ff, #f9f8ff, #ffffff);
  text-align: right;
  transition: background-color 0.6s ease;
  border-radius: 10px; }

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center; }

.mySlides .text_tes {
  width: 70%;
  color: #8E85BF;
  font-size: 1.2em;
  margin: auto;
  font-family: 'Montserrat', sans-serif; }

.mySlides p {
  padding-top: 30px;
  color: #8E85BF;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; }

/* Next & previous buttons */
a.p_arrow, a.n_arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #8E85BF;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
a.n_arrow {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px; }

/* Position the "previous button" to the left */
a.p_arrow {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
a.p_arrow:hover, a.n_arrow:hover {
  color: #5F5980; }

/* The dot/bullet/indicator container */
.dot-container {
  clear: both;
  text-align: center;
  padding: 20px;
  background: none; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #CDFBFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  height: 11px;
  width: 11px;
  background-color: #9BF6FF; }

/* Add an italic font style to all quotes */
q {
  font-style: italic; }

/* Add a blue color to the author */
.author {
  color: cornflowerblue; }

@media (max-width: 768px) {
  .slideshow-container {
    width: 90%;
    margin: auto;
    float: none; }

  .mySlides .text_tes {
    width: 90%;
    font-size: 1em; } }
.about {
  background-color: #FEFFDB;
  background-image: url(../images/about1.png);
  background-size: cover;
  padding: 25px;
  border-radius: 15px;
  min-height: 600px; }

.about img {
  margin: auto; }

.about .ab_head {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 3em;
  color: #3F402E; }

.about p {
  width: 50%;
  margin: auto; }

/* Contact Form */
.contact-parent {
  display: flex;
  margin: 80px 0; }

.contact-child {
  display: flex;
  flex: 1;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75); }

.child1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/child.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  color: #fff;
  padding: 100px 0; }

.child1 p {
  padding-left: 20%;
  font-size: 20px;
  text-shadow: 0px 0px 2px #000; }

.child1 p span {
  font-size: 16px;
  color: #cdfbff; }

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right top, #ffd6d6, #fed4e0, #f9d4eb, #eed6f6, #ded9ff);
  padding: 30px; }

.inside-contact {
  width: 90%;
  margin: 0 auto; }

.inside-contact h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px; }

.inside-contact h3 {
  text-align: center;
  font-size: 16px;
  color: #cdfbff; }

.inside-contact input, .inside-contact textarea {
  width: 80%;
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.48);
  padding: 5px 10px;
  margin-bottom: 20px; }

.inside-contact input[type=submit] {
  background-color: #cdfbff;
  color: #333;
  transition: 0.2s;
  border: none;
  margin: 30px 0;
  width: 30%;
  border-radius: 25px; }

.inside-contact input[type=submit]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right top, #cdfbff, #cefdf8, #d2fff0, #d9ffe7, #e4ffdf);
  color: #805757;
  transition: 0.2s; }

@media screen and (max-width: 991px) {
  .contact-parent {
    display: block;
    width: 100%; }

  .child1 {
    display: none; }

  .child2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/child.jpg");
    background-size: cover; }

  .inside-contact input, .inside-contact textarea {
    background-color: #fff; } }
.col {
  margin-top: 12px;
  display: inline-block;
  position: relative; }

input[type="text"] {
  background-color: inherit; }

.textbox {
  border: 0;
  padding: 2px 0;
  border-bottom: 1px solid #ccc;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 275px;
  box-sizing: border-box;
  letter-spacing: 1px; }

.textbox ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s; }

.textbox:focus {
  outline: none; }

.textbox:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s; }

/* LOGIN START */
.login_page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 610px; }

.container_login {
  margin: auto;
  position: relative;
  width: 60%;
  height: 450px;
  margin-top: 50px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff; }

.leftside {
  float: left;
  width: 50%;
  height: 100%; }

.rightside {
  float: right;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to left top, #9bf6ff, #a4f1ff, #b1ebff, #bfe6ff, #cce0ff, #d5e1ff, #dee1ff, #e6e2ff, #ece9ff, #f3f0ff, #f9f8ff, #ffffff);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; }

.loginbox {
  padding: 60px; }

.login_img img {
  width: 100%;
  margin-top: 70px; }

.login_head {
  font-size: 1.7em;
  margin: 0px;
  color: #606060;
  font-family: 'Josefin Sans', sans-serif; }

.login_title {
  margin-top: 20px;
  font-size: 0.7em;
  margin-bottom: 50px;
  color: #606060; }

.login_details {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #606060;
  float: left; }

img.detail_img {
  vertical-align: baseline;
  float: right;
  clear: right; }

.login_details input {
  border: 0px;
  padding: 7px;
  float: left; }

input[type=text]:focus {
  border: none;
  outline: none; }

input[type=password]:focus {
  border: none;
  outline: none; }

input[type=email]:focus {
  border: none;
  outline: none; }

input[type=date]:focus {
  border: none;
  outline: none; }

input[type=tel]:focus {
  border: none;
  outline: none; }

.sign {
  text-decoration: none;
  clear: both; }

.button {
  flex: 0 0 auto;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #cdfbff;
  color: #333;
  transition: 0.2s;
  border: none;
  border-radius: 25px; }

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right top, #cdfbff, #cefdf8, #d2fff0, #d9ffe7, #e4ffdf);
  color: #805757;
  transition: 0.2s; }

.button:active {
  border: none;
  outline: none; }

/* LOGIN END */

/*# sourceMappingURL=styles.css.map */
